<html>
  
  <body>
    <div class="banner-container">
      <div class="main-page-header">
        <%= image_tag('main-page-banner.jpg', class:"main-banner-image")%>
      </div>

      <div id="subnav">
        <!-- <a href="#services">Services</a> -->
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="#testmonials">Testmonials</a>
        <a href="#merchandise">Merchandise</a>
        <a href="#faq">FAQ</a>
        <a href="#instagram">Instagram</a>
      </div>
    </div>

    <div class="contact-form">
      <button type="button" class="btn btn-outline-primary">Contact Me</button>
    </div>
    
    <div id="pricing-table" class="clear">
      <div class="plan">
        <h3>Face<span><%=image_tag ('eyelash.svg')%></span></h3>
        <a class="signup" href="">Book Now</a>         
        <ul>
          <li><b>Eyebrows</b><br>$10.00</li>
          <li><b>Upper Lip</b><br>$7.00</li>
          <li><b>Chin</b>$5.00<br></li>
          <li><b>Full Face</b><br>$15.00</li>			
        </ul> 
      </div>
      <div class="plan">
        <h3>Body<span><%=image_tag ('body.svg')%></span></h3>
  		  <a class="signup" href="">Book Now</a>
        <ul>
          <li><b>Underarms</b><br>$15.00</li>
          <li><b>Half Legs</b><br>$30.00</li>
          <li><b>Full Legs</b><br>$60.00</li>
  			  <li><b>Arms</b><br>$35.00</li>
          <li><b>Full Body</b><br>$35.00</li>
          <li><b>Stomach</b><br>$20.00</li>
          <li><b>Half Back</b><br>$20.00</li>			
        </ul>
      </div>
      <div class="plan">
        <h3>Pelvis<span><%=image_tag ('hip.svg')%></span></h3>
        <a class="signup" href="">Book Now</a>		
        <ul>
          <li><b>Bikini</b><br>$15.00</li>
          <li><b>Agressive Bikini</b><br>$25.00</li>
          <li><b>1st Brazilian</b><br>$25.00</li>
  			  <li><b>Brazilian</b><br>$40.00</li>			
        </ul>
      </div> 
      <div class="plan" id="most-popular">
        <h3>Combo<span><%=image_tag ('deal.svg')%></span></h3>
        <a class="signup" href="">Book Now</a>        
        <ul>
          <li><b>Brazilian & Underarms</b><br>$50.00</li>
          <li><b>Brazilian & Face</b><br>$50.00</li>
          <li><b>Brazilian & Half Legs</b><br>$65.00</li>
          <li><b>Brazilian & Full Legs</b><br>$80.00</li>			
        </ul>    
      </div>	
      <div class="plan" id="most-popular">
        <h3>Men<span><%=image_tag ('man.svg')%></span></h3>
        <a class="signup" href="">Book Now</a>		
        <ul>
          <li><b>Back</b><br>$40.00</li>
          <li><b>Chest</b><br>$40.00</li>
          <li><b>Legs</b><br>$40.00</li>
          <li><b>Arms</b><br>$40.00</li>			
        </ul>
      </div>
    </div>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>
