<div class="instagram-container">
  <h4 class="insta-title">FAQ & Fun Fact</h4>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= image_tag('ins-pic-1.jpg', class:"ins-pic")%>
    </div>
    <div class="col-md-auto">
      <%= image_tag('ins-pic-2.jpg', class:"ins-pic")%>
    </div>
    <div class="col-md-auto">
      <%= image_tag('ins-pic-3.jpg', class:"ins-pic")%>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= image_tag('ins-pic-4.jpg', class:"ins-pic")%>
    </div>
    <div class="col-md-auto">
      <%= image_tag('ins-pic-5.jpg', class:"ins-pic")%>
    </div>
    <div class="col-md-auto">
      <%= image_tag('ins-pic-6.jpg', class:"ins-pic")%>
    </div>
  </div>
</div>
