<div class="faq-container">
  <h2 class="insta-title">FAQ & Fun Fact</h2>
  <div class="row justify-content-md-center">
    <div class="col-md-auto" id="caption">
      <a href = "/pages/_faq1">
        <span class="text">
          <h4>Laser Hair Removal</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('ins-pic-1.jpg', class:"faq-pic")%>
      </a>
    </div>
    <div class="col-md-auto" id="caption">
      <a href = "/pages/_faq2">
        <span class="text">
          <h4>Wax vs. Sugar</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('ins-pic-2.jpg', class:"faq-pic")%>
      </a>
    </div>
    <div class="col-md-auto" id="caption">
      <a href = "/pages/_faq3">
        <span class="text">
          <h4>Sweet Truths (Q&A)</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('ins-pic-3.jpg', class:"faq-pic")%>
      </a>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto" id="caption">
      <a href = "/pages/_faq4">
        <span class="text">
          <h4>Why Sweet Mango</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('ins-pic-4.jpg', class:"ins-pic")%>
      </a>
    </div>
    <div class="col-md-auto" id="caption">
      <span class="text">
        <h4>All Natural & Organic</h4>
        <h4>100% Edible</h4>
        <h4>Prevents Breakage</h4>
      </span>
      <%= image_tag('ins-pic-5.jpg', class:"ins-pic")%>
    </div>
    <div class="col-md-auto" id="caption">
      <span class="text">
        <h4>Gentle & Effective</h4>
        <h4>Less Painful</h4>
        <h4>Prevents Ingrowns</h4>
      </span>
      <%= image_tag('ins-pic-6.jpg', class:"ins-pic")%>
    </div>
  </div>
</div>
