
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <div id="services">
  <div id="pricing-table" class="clear">
    <h2 class="sub-head" style="margin-top: 50px">Service & Pricing</h2>
    <h5 class="sub-head">Cash Only<h5>
    <div class="plan">
      <h3>Face<span><%=image_tag ('eyelash.svg')%></span></h3>
      <a class="signup" href="/contact_me">Book Now</a>
      <ul>
        <li><b>Eyebrows</b><br>$10.00</li>
        <li><b>Upper Lip</b><br>$7.00</li>
        <li><b>Chin</b>$5.00<br></li>
        <li><b>Full Face</b><br>$15.00</li>
      </ul>
    </div>
    <div class="plan">
      <h3>Body<span><%=image_tag ('body.svg')%></span></h3>
      <a class="signup" href="/contact_me">Book Now</a>
      <ul>
        <li><b>Underarms</b><br>$15.00</li>
        <li><b>Half Legs</b><br>$30.00</li>
        <li><b>Full Legs</b><br>$60.00</li>
        <li><b>Arms</b><br>$35.00</li>
        <li><b>Full Body</b><br>$35.00</li>
        <li><b>Stomach</b><br>$20.00</li>
        <li><b>Half Back</b><br>$20.00</li>
      </ul>
    </div>
    <div class="plan">
      <h3>Bikini<span><%=image_tag ('hip.svg')%></span></h3>
      <a class="signup" href="/contact_me">Book Now</a>
      <ul>
        <li><b>Bikini</b><br>$15.00</li>
        <li><b>Agressive Bikini</b><br>$25.00</li>
        <li><b>1st Brazilian</b><br>$25.00</li>
        <li><b>Brazilian</b><br>$40.00</li>
      </ul>
    </div>
    <div class="plan" id="most-popular">
      <h3>Combo<span><%=image_tag ('deal.svg')%></span></h3>
      <a class="signup" href="contact_me">Book Now</a>
      <ul>
        <li><b>Brazilian & Underarms</b><br>$50.00</li>
        <li><b>Brazilian & Face</b><br>$50.00</li>
        <li><b>Brazilian & Half Legs</b><br>$65.00</li>
        <li><b>Brazilian & Full Legs</b><br>$80.00</li>
      </ul>
    </div>

    <div class="plan">
      <h3>Men<span><%=image_tag ('man.svg')%></span></h3>
      <a class="signup" href="contact_me">Book Now</a>
      <ul>
        <li><b>Back</b><br>$40.00</li>
        <li><b>Chest</b><br>$40.00</li>
        <li><b>Legs</b><br>$40.00</li>
        <li><b>Arms</b><br>$40.00</li>
      </ul>
    </div>
  </div>
</div>
