<html>
<head>
</head>
  <body>
    <div class="parallax-container"></div>

    <div class="intro-container">
      <div class="row">
        <div class="col">
          <%= image_tag('amanda-about-picture.jpg', class:"intro-picture")%>
        </div>
        <div class="col">
          <div class="intro-paragrah">
            <h2 class="intro-title">How Sweet It is</h2>
            <p>Find out why men and women are switching from painful and outdated techniques of hair removal such as waxing, and realizing the sweet truth about Sweet Mango. This product is 100% organic, all natural and completely safe (it’s even edible). Reinvented with the art of sugaring, the Sweet Mango technique leaves clients with smooth and sexy skin that beats out any of its competitors.</p>
          </div>
        </div>

      </div>
    </div>

    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
      <div id="services">
      <div class="price-container">
        <h2 class="price-title">Service & Price</h2>
        <h5 class="price-title">Cash Only</h4>

        <p class="price-subtitle">Face</p>
        <div class="row" style="padding-bottom: 5%">
          <div class="col" id="service-name">
            Eyebrows
          </div>
          <div class="col" id="service-price">
            $5.00
          </div>
          <div class="col" id="service-name">
            Upper Lip
          </div>
          <div class="col" id="service-price">
            $7.00
          </div>
          <div class="col" id="service-name">
            Chin
          </div>
          <div class="col" id="service-price">
            $5.00
          </div>
          <div class="col" id="service-name">
            Full face
          </div>
          <div class="col-auto" id="service-price">
            $15.00
          </div>
        </div>

        <p class="price-subtitle">Body</p>
        <div class="row">
          <div class="col" id="service-name">
            Underarms
          </div>
          <div class="col-auto" id="service-price">
            $15.00
          </div>
          <div class="col" id="service-name">
            Half Legs
          </div>
          <div class="col-auto" id="service-price">
            $30.00
          </div>
          <div class="col" id="service-name">
            Full Legs
          </div>
          <div class="col" id="service-price">
            $60.00
          </div>
          <div class="col" id="service-name">
            Arms
          </div>
          <div class="col" id="service-price">
            $35.00
          </div>
        </div>

        <div class="row" style="padding-bottom: 5%">
          <div class="col" id="service-name">
            Full Body
          </div>
          <div class="col-auto" id="service-price">
            $35.00
          </div>
          <div class="col" id="service-name">
            Stomach
          </div>
          <div class="col-auto" id="service-price">
            $20.00
          </div>
          <div class="col" id="service-name">
            Half Back
          </div>
          <div class="col" id="service-price">
            $20.00
          </div>
          <div class="col" id="service-name">

          </div>
          <div class="col" id="service-price">

          </div>
        </div>

        <p class="price-subtitle">Bikini</p>
        <div class="row" style="padding-bottom: 5%">
          <div class="col" id="service-name">
            Bikini
          </div>
          <div class="col-auto" id="service-price">
            $15.00
          </div>
          <div class="col" id="service-name">
            Agressive
          </div>
          <div class="col-auto" id="service-price">
            $25.00
          </div>
          <div class="col" id="service-name">
            1st Brazilian
          </div>
          <div class="col-auto" id="service-price">
            $45.00
          </div>
          <div class="col" id="service-name">
            Brazilian
          </div>
          <div class="col-auto" id="service-price">
            $40.00
          </div>
        </div>
        <p class="price-subtitle">Combo(Female)</p>
        <div class="row" style="padding-bottom: 5%">
          <div class="col" id="service-name">
            Brazilian & Underarms
          </div>
          <div class="col" id="service-price">
            $50.00
          </div>
          <div class="col" id="service-name">
            Brazilian & Face
          </div>
          <div class="col" id="service-price">
            $50.00
          </div>
          <div class="col" id="service-name">
            Brazilian & Half Legs
          </div>
          <div class="col" id="service-price">
            $65.00
          </div>
          <div class="col" id="service-name">
            Brazilian & Full Legs
          </div>
          <div class="col" id="service-price">
            $80.00
          </div>
        </div>
        <p class="price-subtitle">Male</p>
        <div class="row">
          <div class="col" id="service-name">
            Back
          </div>
          <div class="col-auto" id="service-price">
            $40.00
          </div>
          <div class="col" id="service-name">
            Chest
          </div>
          <div class="col-auto" id="service-price">
            $40.00
          </div>
          <div class="col" id="service-name">
            Legs
          </div>
          <div class="col-auto" id="service-price">
            $40.00
          </div>
          <div class="col" id="service-name">
            Arms
          </div>
          <div class="col-auto" id="service-price">
            $40.00
          </div>
        </div>
      </div>
    </div>


      <div id="about"><%= render 'about' %></div>

      <div id="faq"><%= render 'faq' %></div>

    </div>


    <div class="banner-container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag('carousel-pic-1.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel-pic-2.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel-pic-3.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel-pic-4.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel-pic-5.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

      <div class="map-container">
        <div class="row">
          <div class="col-sm">
            <br>
          </div>
          <div class="col-sm">
            <div  id="map-container" >
              <h2 class="map-title">240 Queen Street West, Toronto</h2>
              <iframe
                width="800"
                height="400"
                frameborder="0"
                style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCEWlOk-UwuZF1j69q7Gobw-pXhgQpypys&q=Sweet+Mango,Toronto+ON" allowfullscreen>
              </iframe>
            </div>
        </div>
        <div class="col-sm">
          <br>
        </div>
        </div>
      </div>

      <div class="instagram-container">
        <h2 class="insta-title">Instagram Feed</h2>
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <%= image_tag('ins-pic-1.jpg', class:"ins-pic")%>
          </div>
          <div class="col-md-auto">
            <%= image_tag('ins-pic-2.jpg', class:"ins-pic")%>
          </div>
          <div class="col-md-auto">
            <%= image_tag('ins-pic-3.jpg', class:"ins-pic")%>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <%= image_tag('ins-pic-4.jpg', class:"ins-pic")%>
          </div>
          <div class="col-md-auto">
            <%= image_tag('ins-pic-5.jpg', class:"ins-pic")%>
          </div>
          <div class="col-md-auto">
            <%= image_tag('ins-pic-6.jpg', class:"ins-pic")%>
          </div>
        </div>






    </div>

  </body>

</html>
