<html>
<head>
</head>
  <body>
    <div class="banner-container">
      <!-- <div class="main-page-header">
        <%= image_tag('main-page-banner.jpg', class:"main-banner-image")%>
      </div> -->

      <!-- <div id="subnav">
        <a href="pages/about.html.erb">About</a>
        <a href="pages/contact.html.erb">Contact</a>
        <a href="pages/testmonials.html.erb">Testmonials</a>
        <a href="#merchandise">Merchandise</a>
        <a href="#faq">FAQ</a>
        <a href="#instagram">Instagram</a>
      </div> -->
    </div>

    <div class="contact-form">
      <button type="button" class="btn btn-outline-primary">Contact Me</button>
    </div>

    <div class="sub-head">
      <h3>Why Surgaring?<h3>
    </div>
    <div class="paragraph">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="sub-head">
      <h3>Services & Pricing<h3>
      <h5>Cash Only<h5>
    </div>

    <div id="pricing-table" class="clear">
      <div class="plan">
        <h3>Face<span><%=image_tag ('eyelash.svg')%></span></h3>
        <a class="signup" href="">Book Now</a>
        <ul>
          <li><b>Eyebrows</b><br>$10.00</li>
          <li><b>Upper Lip</b><br>$7.00</li>
          <li><b>Chin</b>$5.00<br></li>
          <li><b>Full Face</b><br>$15.00</li>
        </ul>
      </div>
      <div class="plan">
        <h3>Body<span><%=image_tag ('body.svg')%></span></h3>
  		  <a class="signup" href="">Book Now</a>
        <ul>
          <li><b>Underarms</b><br>$15.00</li>
          <li><b>Half Legs</b><br>$30.00</li>
          <li><b>Full Legs</b><br>$60.00</li>
  			  <li><b>Arms</b><br>$35.00</li>
          <li><b>Full Body</b><br>$35.00</li>
          <li><b>Stomach</b><br>$20.00</li>
          <li><b>Half Back</b><br>$20.00</li>
        </ul>
      </div>
      <div class="plan">
        <h3>Pelvis<span><%=image_tag ('hip.svg')%></span></h3>
        <a class="signup" href="">Book Now</a>
        <ul>
          <li><b>Bikini</b><br>$15.00</li>
          <li><b>Agressive Bikini</b><br>$25.00</li>
          <li><b>1st Brazilian</b><br>$25.00</li>
  			  <li><b>Brazilian</b><br>$40.00</li>
        </ul>
      </div>
      <div class="plan" id="most-popular">
        <h3>Combo<span><%=image_tag ('deal.svg')%></span></h3>
        <a class="signup" href="">Book Now</a>
        <ul>
          <li><b>Brazilian & Underarms</b><br>$50.00</li>
          <li><b>Brazilian & Face</b><br>$50.00</li>
          <li><b>Brazilian & Half Legs</b><br>$65.00</li>
          <li><b>Brazilian & Full Legs</b><br>$80.00</li>
        </ul>
      </div>

      <div class="plan">
        <h3>Men<span><%=image_tag ('man.svg')%></span></h3>
        <a class="signup" href="">Book Now</a>
        <ul>
          <li><b>Back</b><br>$40.00</li>
          <li><b>Chest</b><br>$40.00</li>
          <li><b>Legs</b><br>$40.00</li>
          <li><b>Arms</b><br>$40.00</li>
        </ul>
      </div>
    </div>

    <div class="banner-container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag('carousel-pic-1.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel-pic-2.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel-pic-3.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel-pic-4.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel-pic-5.jpg', class:"carousel-image")%>
            <div class="carousel-caption d-none d-md-block">
              <h4>"I've been to other places to getsugared but none were as efficient or professional as Amanda"</h4>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="map-container">
      <h4 class="map-title">240 Queen Street West, Toronto</h4>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCEWlOk-UwuZF1j69q7Gobw-pXhgQpypys&q=Sweet+Mango,Toronto+ON" allowfullscreen>
      </iframe>
    </div>

  </body>

</html>
