<!DOCTYPE html>
<html>
  <%= favicon_link_tag 'favicon.png'%>
  <head>
    <title>SweetMango</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <div class="wrapper">
      <nav id="subnav" class="navbar navbar-light bg-light">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav nav-pills">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav nav-pills">
            <a href="/"><%= image_tag('mango-logo-orange.svg', class: "logo") %></a>
          </li>
          <li class="nav nav-pills">
            <a href="#faq">FAQ</a>
          </li>
          <li class="nav nav-pills">
            <a href="/contact_me">Contact</a>
          </li>
        </ul>
      </nav>
      <%=yield%>
      <div class="push"></div>
    </div>

    <footer id="footer">
      <div class="footer-container">
        <div class="row">
          <div class="col-sm">
            <div class="contact-info">
                <!-- <span><%=image_tag ('phone-icon-white.svg')%>647-880-9566</span>
                <span><%=image_tag ('email-icon-white.svg')%>sweetmango.sugaring@gmail.com</span> -->
              <ul style="padding-left: 0">
                <li><%=image_tag ('phone-icon-white.svg')%>647-880-9566</li>
                <li style="padding-top: 1%"><%=image_tag ('email-icon-white.svg')%>sweetmango.sugaring@gmail.com</li>
              <ul>
            </div>
          </div>
          <div class="col-sm">
          	<div class="footer-logo">
              <a href="/"><%= image_tag('mango-logo-white.svg', class: "mango-footer-logo") %></a>
          	</div>
          </div>
          <div class="col-sm">
    	      <div class="footer-social-media">
          		<a href="https://www.facebook.com/SweetMangoBeauty/" target="_blank"><span><%=image_tag ('facebook-logo-white.svg')%></span></a>
          		<a href="https://www.instagram.com/sweetmanga/" target="_blank"><span><%=image_tag ('instagram-logo-white.svg')%></span></a>
          		<a href="https://www.yelp.ca/biz/sweet-mango-sugaring-and-esthetics-toronto-4" target="_blank"><span><%=image_tag ('yelp-logo-white.svg')%></span></a>
      		  </div>
          </div>
        </div>
        <div class="row" style="padding-left: 42%;">
        	<div class="footer-copyright">
            <p>SITE BY JASMINE NING</p>
        		<p>COPYRIGHT © 2018. ALL RIGHTS RESERVED.</p>
        	</div>
        </div>
  	  </div>
    </footer>
  </body>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</html>
