<!DOCTYPE html>
<html>

  <head>
    <title>SweetMango</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body>
    <div class="wrapper">


        <div id="subnav">
          <a href="/pages/about">About</a>
          <a href="/pages/contact">Contact</a>
          <a href="/"><%= image_tag('SweetMangoLogo_Transparent.png', class: "logo") %></a>
          <a href="/pages/merchandise">Merchandise</a>
          <a href="/pages/faq">FAQ</a>

      </div>

      <div class="contact-form">
        <button type="button" class="btn btn-outline-primary">Contact Me</button>
      </div>
      <%=yield%>
      <div class="push"></div>
    </div>

    <footer id="footer">
      <div class="footer-container">
      	<!-- <div class="footer-logo">
          <a href="/"><%= image_tag('SweetMangoLogo_Transparent.png', class: "logo") %></a>
      	</div> -->
        <div class="footer-links">
          <ul class="list-unstyled">
          <li><a href="/pages/about">About</a></li>
          <li><a href="/pages/contact">Contact</a></li>
          <li><a href="/pages/merchandise">Merchandise</a></li>
          <li><a href="/pages/faq">FAQ</a></li>
        </ul>
        </div>
	      <div class="footer-social-media">
      		<a href="https://www.facebook.com/SweetMangoBeauty/" target="_blank"><span><%=image_tag ('facebook-logo.svg')%></span></a>
      		<a href="https://www.instagram.com/sweetmanga/" target="_blank"><span><%=image_tag ('instagram-logo.svg')%></span></a>
      		<a href="https://www.yelp.ca/biz/sweet-mango-sugaring-and-esthetics-toronto-4" target="_blank"><span><%=image_tag ('yelp-logo.svg')%></span></a>
  		  </div>
      	<div class="footer-copyright">
          <p>SITE BY JASMINE NING</p>
      		<p>COPYRIGHT © 2018. ALL RIGHT RESERVED.</p>
      	</div>
  	  </div>
    </footer>
  </body>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</html>
